<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
mybatis是使用接口动态代理
-->
<mapper namespace="com.alvaria.datareuse.dao.StationMapper">
    <select id="findUserListByTags" resultType="com.alvaria.datareuse.entity.Station">
        select * from `user` where
        <foreach collection="array" item="tag" separator=" AND ">
            tags LIKE CONCAT('%',#{tag},'%')
        </foreach>
    </select>

    <select id="findAllByKey" resultType="com.alvaria.datareuse.entity.Station">
        select * from station
        <if test="keyWord != null and keyWord.length() > 0">
            where station like CONCAT('%',#{keyWord},'%')
            or org like CONCAT('%',#{keyWord},'%')
        </if>
    </select>

    <delete id="deleteStations">
        delete from `station` where
        <foreach collection="list" item="id" separator=" or ">
            id = #{id}
        </foreach>
    </delete>

    <insert id="insertStation" parameterType="com.alvaria.datareuse.entity.Station" useGeneratedKeys = "true" keyProperty = "id">
        INSERT into `station` (`station`, `org`, `idle`)
        values
            (#{sta.station},#{sta.org},#{sta.idle})
    </insert>

    <update id="update" >
        UPDATE `station`
        <set >
            <if test="station != null">
                station = #{station},
            </if>
            <if test="org != null">
                org = #{org},
            </if>
            <if test="idle != null">
                idle = #{idle},
            </if>
        </set>
        <where>
            id = #{id}
        </where>

    </update>
</mapper>