<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
mybatis是使用接口动态代理
-->
<mapper namespace="com.alvaria.datareuse.dao.StationMapper">
    <select id="findUserListByTags" resultType="com.alvaria.datareuse.entity.Station">
        select * from `user` where
        <foreach collection="array" item="tag" separator=" AND ">
            tags LIKE CONCAT('%',#{tag},'%')
        </foreach>
    </select>

    <select id="findAllByKey" resultType="com.alvaria.datareuse.entity.Station">
        select * from station
        <if test="keyWord != null and keyWord.length() > 0">
            where station like CONCAT('%',#{keyWord},'%')
            or org like CONCAT('%',#{keyWord},'%')
        </if>
    </select>
</mapper>