<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
mybatis是使用接口动态代理
-->
<mapper namespace="com.alvaria.datareuse.dao.UserMapper">
    <delete id="deleteByIds">
        delete from `user` where
        <foreach collection="ids" item="id" separator=" or ">
            id = #{id}
        </foreach>
    </delete>

    <select id="getUserById" resultType="com.alvaria.datareuse.entity.User">
        select * from user where id = #{user_id}
    </select>

    <select id="findAllByKey" resultType="com.alvaria.datareuse.entity.User">
        select * from user
        <if test="keyWord != null and keyWord.length() > 0">
            where email like CONCAT('%',#{keyWord},'%')
        </if>
    </select>

    <select id="findAll" resultType="com.alvaria.datareuse.entity.User">
        select * from user
    </select>

    <select id="getUserByIdentityString" resultType="com.alvaria.datareuse.entity.User">
        select * from user where identity = #{identity}
    </select>

    <insert id="insertUsers" >
        INSERT into `user` (`email`, `display`, `role`,`identity`,`tags`,`password`,`c_password`,`station`,`user_name`,`first_name`,`last_name`,`mgr_team_list`,`team`,`DID`, `personal_type`,`name`,`t_zone`, `language`,`manager_of_team`, `telephone_number`,`mt_data`, `reuse_data` )
        values
        <foreach collection="list" item="user" separator=",">
            (#{user.email},#{user.display},#{user.role},#{user.identity},#{user.tags},#{user.password},#{user.cPassword},#{user.station},#{user.userName},#{user.firstName},#{user.lastName},#{user.mgrTeamList},#{user.team},#{user.DID},#{user.personalType},#{user.name},#{user.tZone},#{user.language},#{user.managerOfTeam},#{user.telephoneNumber},#{user.mtData},#{user.reuseData})
        </foreach>
    </insert>

    <insert id="insertUser" useGeneratedKeys = "true" keyProperty = "id">
        INSERT into `user` (`email`, `display`, `role`,`identity`,`tags`,`password`,`c_password`,`station`,`user_name`,`first_name`,`last_name`,`mgr_team_list`,`team`,`DID`, `personal_type`,`name`,`t_zone`, `language`,`manager_of_team`, `telephone_number`, `mt_data`, `reuse_data` )
        values
            (#{user.email},#{user.display},#{user.role},#{user.identity},#{user.tags},#{user.password},#{user.cPassword},#{user.station},#{user.userName},#{user.firstName},#{user.lastName},#{user.mgrTeamList},#{user.team},#{user.DID},#{user.personalType},#{user.name},#{user.tZone},#{user.language},#{user.managerOfTeam},#{user.telephoneNumber},#{user.mtData},#{user.reuseData})
    </insert>

    <update id="update" >
        UPDATE `user`
        <set >
            <if test="email != null">
                email = #{email},
            </if>
            <if test="display != null">
                display = #{display},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="tags != null">
                tags = #{tags},
            </if>
            <if test="identity != null">
                identity = #{identity},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="cPassword != null">
                c_password = #{cPassword},
            </if>
            <if test="station != null">
                station = #{station},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="firstName != null">
                first_name = #{firstName},
            </if>
            <if test="lastName != null">
                last_name = #{lastName},
            </if>
            <if test="mgrTeamList != null">
                mgr_team_list = #{mgrTeamList},
            </if>
            <if test="team != null">
                team = #{team},
            </if>
            <if test="DID != null">
                DID = #{DID},
            </if>
            <if test="personalType != null">
                personal_type = #{personalType},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="tZone != null">
                t_zone = #{tZone},
            </if>
            <if test="language != null">
                language = #{language},
            </if>
            <if test="managerOfTeam != null">
                manager_of_team = #{managerOfTeam},
            </if>
            <if test="telephoneNumber != null">
                telephone_number = #{telephoneNumber},
            </if>
            mt_data = #{mtData},
            reuse_data =#{reuseData}
        </set>
        <where>
            id = #{id}
        </where>

    </update>

    <select id="filterAvailableUser" resultType="com.alvaria.datareuse.entity.User">
        select * from user where role = #{role} and mt_data = #{mtData} and id not in (select user_id from user_status where org = #{org})
        <if test="inIDs != null and inIDs.size() > 0">
            <foreach collection="inIDs" item="itemList" open=" and id in (" separator="," close=")">
            #{itemList}
            </foreach>
        </if>
    </select>

    <select id="getOneAvailableUser" resultType="com.alvaria.datareuse.entity.User">
        select * from user where role = #{role} and mt_data = #{mtData} and reuse_data = true
        <if test="team!=null">
            and team = #{team}
        </if>
        <choose>
            <when test="identity!=null">
                and identity = #{identity}
            </when>
            <otherwise>
                and identity is null
            </otherwise>
        </choose>
        <choose>
            <when test="array!=null">
                <foreach collection="array" item="tag" separator="and" open="and">
                    tags LIKE CONCAT('%',#{tag},'%')
                </foreach>
            </when>
            <otherwise>
                and tags is null
            </otherwise>
        </choose>
         and id not in (select user_id from user_status where org = #{org})
        <if test="IDs != null and IDs.size() > 0">
            <foreach collection="IDs" item="itemList" open=" and id not in (" separator="," close=")">
                #{itemList}
            </foreach>
        </if>
          limit 1
    </select>

    <select id="selectPage" resultType="com.alvaria.datareuse.entity.User">
        select * from user
        <if test="keyWord != null and keyWord.length() > 0">
            where email like CONCAT('%',#{keyWord},'%')
        </if>
        limit #{pageNum}, #{pageSize}
    </select>
</mapper>