<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvaria.datareuse.dao.UserInfoMapper">

    <select id="findByUsernameAndPassword" parameterType="string" resultType="com.alvaria.datareuse.entity.UserInfo">
        select id, username, role from user_info where username = #{username} and password = #{password};
    </select>

    <select id="findUserInfoById" resultType="com.alvaria.datareuse.entity.UserInfo">
        select id, username, role from user_info where id = #{id};
    </select>
</mapper>